*{
    padding: 0;
    margin: 0;
}
#page{
    display: flex;
    height : 100vh;
}
#left {
    width : 260px;
    font-family: sans-serif;
    display: flex;
    flex-direction: column;
    border-right: 2px solid red;
}
#logo img{
    float : left;

}
#logo a{
    text-decoration: none;
    color : green;
}
#logo{
    padding: 10px 20px;
    border-bottom: 2px solid red;
}
#logo h1,p{
    padding-left:60px;
    text-align: center;
}
#links a{
    display: block;
    text-decoration: none;
    border-bottom: 2px solid green;
    padding : 5px 5px;
    font-size:15px;
    color : navy;
}
#page-title{
    padding: 10px 20px;
    border-bottom: 2px solid red;
}
#right{
    display : flex;
    flex-direction: column;
    flex:1;
}
#page-content {
    font-size: 20px;
}
#page-content p{
    text-align: left;
    padding: 15px 0 0 20px;
}
